In [3]:
import pandas as pd
df = pd.read_excel('sales_data_sample.xlsx')
df.head()

,ORDERNUMBER,QUANTITYORDERED,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,COUNTRY,DEALSIZE,Discount,Profit
0,10107,30,2,2871.00,2003-02-24,Shipped,USA,Small,0.00,41.9136
1,10121,34,5,2765.90,2003-05-07,Shipped,France,Small,0.00,219.5820
2,10134,41,2,3884.34,2003-07-01,Shipped,France,Medium,0.00,6.8714
3,10145,45,6,3746.70,2003-08-25,Shipped,USA,Medium,0.45,-383.0310
4,10159,49,14,5205.27,2003-10-10,Shipped,USA,Medium,0.20,2.5164

In [5]:
# c√¢u 1
df[['QUANTITYORDERED','SALES']].corr()

                 QUANTITYORDERED     SALES
QUANTITYORDERED         1.000000  0.551426
SALES                   0.551426  1.000000

In [ ]:
11.	import statsmodels.api as sm
12.	X_with_constant = sm.add_constant(df[["M1","M2"]].values)
13.	y = df[['M3']].values
14.	result = sm.OLS(y, X_with_constant).fit()
15.	print(result.summary())
16.	X = df[["M1","M2"]].values
17.	y = df[['M3']].values
18.	result = sm.OLS(y, X).fit()
19.	print(result.summary())